<h1>Insterested in a Project for you?</h1>
<hr>
<div class="row">
	<div class="col-md-6">
		<h3>Office Address</h3>
		<p>Calle Federacion entre Monzon y Brion, Coro, Estado Falcón</p>
		<h3>Phone</h3>
		<p><%= number_to_phone "+584125047768" %></p>
		<h3>Email</h3>
		<p><a href="mailto:gerardocolina@gmail.com?subject=Contact-Form" "email me"> Email me</a></p>
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3911.0480210061455!2d-69.6797640428812!3d11.404058467758839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e85d4c9b7aff789%3A0x208d8782e2c832ff!2zQ2FsbGUgRmVkZXJhY2nDs24sIENvcm8sIEZhbGPDs24!5e0!3m2!1sen!2sve!4v1506538682312" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>		
	</div>
</div>


